body,
html {
    height: 100%;
    margin: 0;
}

.navbar,
.footer {
    background-color: #bd93f9;
}

.card {
    background-color: #50fa7b;
    box-shadow: 0px 0px 5px;
}

.card-header,
.card-footer
{
    background-color: #48e16e;
}

.card:hover {
    box-shadow: 10px 10px 20px;
    /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); */
}